<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobe.blog.content.mapper.ArticleMapper">
    <select id="pageDTOsByUserId" resultMap="article_result_map">
        <include refid="com.tobe.blog.content.mapper.BaseSubContentMapper.base_sub_content_select_by_filter"></include>
    </select>

    <select id="getDTOById" resultMap="article_result_map">
        <include refid="com.tobe.blog.content.mapper.BaseSubContentMapper.base_sub_content_select_by_id"></include>
    </select>

    <resultMap id="article_result_map"
        extends="com.tobe.blog.content.mapper.BaseSubContentMapper.general_dto_result_map" 
        type="com.tobe.blog.beans.dto.content.ArticleDTO">
    </resultMap>
</mapper>
