<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobe.blog.content.mapper.ContentGeneralInfoMapper">
    <update id="updateContentMetaCount" >
        UPDATE TOBE_CONTENT_GENERAL_INFO
        SET ${column} = #{newValue}
        WHERE ID = #{id}
    </update>
</mapper>
