<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Password Reset Content Fragment -->
    <div th:fragment="content">
        <p>We received your request to reset the password for your Tobe Blog account. If you didn't make this request, you can safely ignore this email.</p>
        
        <div class="button-container">
            <a class="button" th:href="${resetUrl}">Reset My Password</a>
        </div>
        
        <div class="url-info">
            <p>Or copy and paste the following URL into your browser:</p>
            <div class="info">
                <span th:text="${resetUrl}">https://example.com/reset-password</span>
            </div>
        </div>
        
        <p><strong>This link will expire in <span th:text="${expiryMinutes}">5</span> minutes.</strong></p>
    </div>
</body>
</html> 